.elementor-4627 .elementor-element.elementor-element-1bdda91b > .elementor-container{min-height:400px;}.elementor-4627 .elementor-element.elementor-element-1bdda91b:not(.elementor-motion-effects-element-type-background), .elementor-4627 .elementor-element.elementor-element-1bdda91b > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F1F1F1;background-image:url("../../2023/10/newsevents-rcis-banner-1920x600-1.jpg");background-position:center center;background-repeat:no-repeat;background-size:cover;}.elementor-4627 .elementor-element.elementor-element-1bdda91b{box-shadow:0px 5px 10px 0px rgba(0, 0, 0, 0.3);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;z-index:2;}.elementor-4627 .elementor-element.elementor-element-1bdda91b > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-4627 .elementor-element.elementor-element-5be9c153:not(.elementor-motion-effects-element-type-background), .elementor-4627 .elementor-element.elementor-element-5be9c153 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-70406a1 );}.elementor-4627 .elementor-element.elementor-element-5be9c153{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:20px 20px 20px 20px;}.elementor-4627 .elementor-element.elementor-element-5be9c153 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-4627 .elementor-element.elementor-element-6828753f{font-family:"Azosans", Sans-serif;font-size:18px;font-weight:400;color:var( --e-global-color-93ef499 );}.elementor-4627 .elementor-element.elementor-element-6828753f a{color:var( --e-global-color-93ef499 );}.elementor-4627 .elementor-element.elementor-element-4bc0263a{padding:60px 20px 0px 20px;}.elementor-4627 .elementor-element.elementor-element-29c84853 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-4627 .elementor-element.elementor-element-6756b468 .elementor-heading-title{font-family:"Azosans", Sans-serif;font-size:44px;font-weight:300;text-transform:uppercase;}.elementor-4627 .elementor-element.elementor-element-6756b468 > .elementor-widget-container{margin:0px 0px 20px 0px;}.elementor-4627 .elementor-element.elementor-element-26e6587{padding:0px 0px 100px 0px;}.elementor-4627 .elementor-element.elementor-element-e6b15b8 .eael-post-block-item{background-color:var( --e-global-color-secondary );border-style:solid;border-width:1px 1px 1px 1px;border-color:var( --e-global-color-accent );border-radius:6px 6px 6px 6px;box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);}.elementor-4627 .elementor-element.elementor-element-e6b15b8 .post-block-layout-tiled .eael-post-block-grid{grid-gap:20px;}.elementor-4627 .elementor-element.elementor-element-e6b15b8 .eael-entry-title, .elementor-4627 .elementor-element.elementor-element-e6b15b8 .eael-entry-title a{color:var( --e-global-color-93ef499 );}.elementor-4627 .elementor-element.elementor-element-e6b15b8 .eael-entry-title:hover, .elementor-4627 .elementor-element.elementor-element-e6b15b8 .eael-entry-title a:hover{color:var( --e-global-color-accent );}.elementor-4627 .elementor-element.elementor-element-e6b15b8 .eael-grid-post-excerpt p{color:var( --e-global-color-primary );}.elementor-4627 .elementor-element.elementor-element-e6b15b8 .eael-post-block-item .eael-entry-wrapper{height:121px;}.elementor-4627 .elementor-element.elementor-element-e6b15b8 .eael-entry-meta, .elementor-4627 .elementor-element.elementor-element-e6b15b8 .eael-entry-meta a, .elementor-4627 .elementor-element.elementor-element-e6b15b8 .eael-entry-meta ul li i, .elementor-4627 .elementor-element.elementor-element-e6b15b8 .eael-entry-meta ul li a, .elementor-4627 .elementor-element.elementor-element-e6b15b8 .eael-entry-meta > span, .elementor-4627 .elementor-element.elementor-element-e6b15b8 .eael-entry-meta > span a{color:var( --e-global-color-93ef499 );}.elementor-4627 .elementor-element.elementor-element-e6b15b8 .eael-entry-meta > div, .elementor-4627 .elementor-element.elementor-element-e6b15b8 .eael-entry-meta > span, .elementor-4627 .elementor-element.elementor-element-e6b15b8 .eael-entry-meta ul li i, .elementor-4627 .elementor-element.elementor-element-e6b15b8 .eael-entry-meta ul li a{font-family:"Azosans", Sans-serif;font-weight:400;}.elementor-4627 .elementor-element.elementor-element-e6b15b8 .eael-post-elements-readmore-btn{color:#61ce70;}.elementor-4627 .elementor-element.elementor-element-e6b15b8 .eael-load-more-button{color:#fff;background:#29d8d8;}.elementor-4627 .elementor-element.elementor-element-e6b15b8 .eael-load-more-button:hover{color:#fff;background:#27bdbd;}.elementor-4627 .elementor-element.elementor-element-e6b15b8 .eael-load-more-button-wrap{justify-content:center;}.elementor-4627 .elementor-element.elementor-element-e6b15b8 .eael-post-block-item .eael-entry-overlay{background-color:rgba(0,0,0, .75);}.elementor-4627 .elementor-element.elementor-element-e6b15b8 .eael-post-block.post-block-style-overlay .eael-entry-wrapper{background-color:rgba(0,0,0, .75) !important;}.elementor-4627 .elementor-element.elementor-element-e6b15b8 .eael-post-block-item .eael-entry-overlay > i{color:#ffffff;font-size:18px;}.elementor-4627 .elementor-element.elementor-element-e6b15b8 .eael-post-block-item .eael-entry-overlay .eael-post-block-hover-svg-icon{width:18px;}.elementor-4627 .elementor-element.elementor-element-e6b15b8 > .elementor-widget-container{margin:0em 0em 0em -11em;padding:0px 0px 0px 0px;}@media(max-width:1440px){.elementor-4627 .elementor-element.elementor-element-6756b468 .elementor-heading-title{font-size:38px;}}@media(max-width:1024px) and (min-width:768px){.elementor-4627 .elementor-element.elementor-element-29c84853{width:100%;}}@media(max-width:1024px){.elementor-4627 .elementor-element.elementor-element-29c84853 > .elementor-element-populated{padding:0px 0px 0px 0px;}}@media(max-width:767px){.elementor-4627 .elementor-element.elementor-element-1bdda91b > .elementor-container{min-height:100vw;}.elementor-4627 .elementor-element.elementor-element-1bdda91b:not(.elementor-motion-effects-element-type-background), .elementor-4627 .elementor-element.elementor-element-1bdda91b > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("../../2023/10/newsevents-rcis-banner-414x414-1.jpg");}.elementor-4627 .elementor-element.elementor-element-6828753f{font-size:15px;}.elementor-4627 .elementor-element.elementor-element-6756b468 .elementor-heading-title{font-size:28px;}.elementor-4627 .elementor-element.elementor-element-e6b15b8 .eael-entry-wrapper{padding:4px 8px 0px 9px;}.elementor-4627 .elementor-element.elementor-element-e6b15b8 .eael-entry-footer{padding:0px 8px 7px 9px;}.elementor-4627 .elementor-element.elementor-element-e6b15b8 > .elementor-widget-container{margin:0em 0em 0em 0em;}}/* Start custom CSS for heading, class: .elementor-element-6756b468 */.elementor-4627 .elementor-element.elementor-element-6756b468 b {
    font-weight: 800;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Azosans';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url('../../2023/09/AzoSans-Black.woff2') format('woff2'),
		url('../../2023/09/AzoSans-Black.woff') format('woff'),
		url('../../2023/09/AzoSans-Black.ttf') format('truetype');
}
@font-face {
	font-family: 'Azosans';
	font-style: italic;
	font-weight: 900;
	font-display: auto;
	src: url('../../2023/09/AzoSans-BlackItalic.woff2') format('woff2'),
		url('../../2023/09/AzoSans-BlackItalic.woff') format('woff'),
		url('../../2023/09/AzoSans-BlackItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Azosans';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('../../2023/09/AzoSans-Bold.woff2') format('woff2'),
		url('../../2023/09/AzoSans-Bold.woff') format('woff'),
		url('../../2023/09/AzoSans-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Azosans';
	font-style: italic;
	font-weight: bold;
	font-display: auto;
	src: url('../../2023/09/AzoSans-BoldItalic.woff2') format('woff2'),
		url('../../2023/09/AzoSans-BoldItalic.woff') format('woff'),
		url('../../2023/09/AzoSans-BoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Azosans';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('../../2023/09/AzoSans-Italic.woff2') format('woff2'),
		url('../../2023/09/AzoSans-Italic.woff') format('woff'),
		url('../../2023/09/AzoSans-Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Azosans';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('../../2023/09/AzoSans-Light.woff2') format('woff2'),
		url('../../2023/09/AzoSans-Light.woff') format('woff'),
		url('../../2023/09/AzoSans-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Azosans';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: url('../../2023/09/AzoSans-LightItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Azosans';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('../../2023/09/AzoSans-Medium.woff') format('woff'),
		url('../../2023/09/AzoSans-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Azosans';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2023/09/AzoSans-Regular.woff2') format('woff2'),
		url('../../2023/09/AzoSans-Regular.woff') format('woff'),
		url('../../2023/09/AzoSans-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Azosans';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('../../2023/09/AzoSans-Thin.woff') format('woff');
}
@font-face {
	font-family: 'Azosans';
	font-style: italic;
	font-weight: 100;
	font-display: auto;
	src: url('../../2023/09/AzoSans-ThinItalic.woff') format('woff');
}
/* End Custom Fonts CSS */