.elementor-1360 .elementor-element.elementor-element-660e5a39 > .elementor-container{min-height:400px;}.elementor-1360 .elementor-element.elementor-element-660e5a39:not(.elementor-motion-effects-element-type-background), .elementor-1360 .elementor-element.elementor-element-660e5a39 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F1F1F1;background-image:url("../../2023/10/faq-rcis-banner-1920x600-1.jpg");background-position:center center;background-repeat:no-repeat;background-size:cover;}.elementor-1360 .elementor-element.elementor-element-660e5a39{box-shadow:0px 5px 10px 0px rgba(0, 0, 0, 0.3);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;z-index:2;}.elementor-1360 .elementor-element.elementor-element-660e5a39 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1360 .elementor-element.elementor-element-346e4af6:not(.elementor-motion-effects-element-type-background), .elementor-1360 .elementor-element.elementor-element-346e4af6 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-70406a1 );}.elementor-1360 .elementor-element.elementor-element-346e4af6{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:20px 20px 20px 20px;}.elementor-1360 .elementor-element.elementor-element-346e4af6 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1360 .elementor-element.elementor-element-514fc9fa{font-family:"Azosans", Sans-serif;font-size:18px;font-weight:400;color:var( --e-global-color-93ef499 );}.elementor-1360 .elementor-element.elementor-element-514fc9fa a{color:var( --e-global-color-93ef499 );}.elementor-1360 .elementor-element.elementor-element-3efda741{padding:60px 20px 60px 20px;}.elementor-1360 .elementor-element.elementor-element-79566651 > .elementor-element-populated{padding:0px 20px 0px 0px;}.elementor-1360 .elementor-element.elementor-element-13bc547e .elementor-heading-title{font-family:"Azosans", Sans-serif;font-size:44px;font-weight:300;}.elementor-1360 .elementor-element.elementor-element-13bc547e > .elementor-widget-container{margin:0px 0px 20px 0px;}.elementor-1360 .elementor-element.elementor-element-45c47c9{margin-top:20px;margin-bottom:0px;}.elementor-1360 .elementor-element.elementor-element-022737d .eael-adv-accordion .eael-accordion-list .eael-accordion-header .eael-accordion-tab-title{font-family:"Azosans", Sans-serif;font-size:22px;font-weight:normal;font-style:normal;color:var( --e-global-color-text );}.elementor-1360 .elementor-element.elementor-element-022737d .eael-adv-accordion .eael-accordion-list .eael-accordion-header .fa-accordion-icon{font-size:16px;margin-left:10px;color:var( --e-global-color-primary );}.elementor-1360 .elementor-element.elementor-element-022737d .eael-adv-accordion .eael-accordion-list .eael-accordion-header svg.fa-accordion-icon{height:16px;width:16px;line-height:16px;}.elementor-1360 .elementor-element.elementor-element-022737d .eael-adv-accordion .eael-accordion-list{margin-bottom:10px;}.elementor-1360 .elementor-element.elementor-element-022737d .eael-adv-accordion .eael-accordion-list .eael-accordion-header .fa-accordion-icon-svg svg{color:var( --e-global-color-primary );fill:var( --e-global-color-primary );}.elementor-1360 .elementor-element.elementor-element-022737d .eael-adv-accordion .eael-accordion-list .eael-accordion-header svg{fill:var( --e-global-color-primary );}.elementor-1360 .elementor-element.elementor-element-022737d .eael-adv-accordion .eael-accordion-list .eael-accordion-header{border-radius:8px 8px 8px 8px;}.elementor-1360 .elementor-element.elementor-element-022737d .eael-adv-accordion .eael-accordion-list .eael-accordion-header:hover{background-color:var( --e-global-color-70406a1 );}.elementor-1360 .elementor-element.elementor-element-022737d .eael-adv-accordion .eael-accordion-list .eael-accordion-header:hover .eael-accordion-tab-title{color:var( --e-global-color-93ef499 );}.elementor-1360 .elementor-element.elementor-element-022737d .eael-adv-accordion .eael-accordion-list .eael-accordion-header:hover .fa-accordion-icon{color:var( --e-global-color-93ef499 );}.elementor-1360 .elementor-element.elementor-element-022737d .eael-adv-accordion .eael-accordion-list .eael-accordion-header:hover .fa-accordion-icon svg{color:var( --e-global-color-93ef499 );fill:var( --e-global-color-93ef499 );}.elementor-1360 .elementor-element.elementor-element-022737d .eael-adv-accordion .eael-accordion-list .eael-accordion-header:hover svg.fa-accordion-icon{fill:var( --e-global-color-93ef499 );}.elementor-1360 .elementor-element.elementor-element-022737d .eael-adv-accordion .eael-accordion-list .eael-accordion-header.active{background-color:var( --e-global-color-70406a1 );color:#fff;}.elementor-1360 .elementor-element.elementor-element-022737d .eael-adv-accordion .eael-accordion-list .eael-accordion-header.active .eael-accordion-tab-title{color:#fff;}.elementor-1360 .elementor-element.elementor-element-022737d .eael-adv-accordion .eael-accordion-list .eael-accordion-header.active .fa-accordion-icon{color:#fff;}.elementor-1360 .elementor-element.elementor-element-022737d .eael-adv-accordion .eael-accordion-list .eael-accordion-header.active .fa-accordion-icon svg{color:#fff;fill:#fff;}.elementor-1360 .elementor-element.elementor-element-022737d .eael-adv-accordion .eael-accordion-list .eael-accordion-header.active svg.fa-accordion-icon{fill:#fff;}.elementor-1360 .elementor-element.elementor-element-022737d .eael-adv-accordion .eael-accordion-list .eael-accordion-content{color:#333;font-size:18px;}.elementor-1360 .elementor-element.elementor-element-022737d .eael-adv-accordion .eael-accordion-list .eael-accordion-header .fa-toggle, .elementor-1360 .elementor-element.elementor-element-022737d .eael-adv-accordion .eael-accordion-list .eael-accordion-header > .fa-toggle-svg{font-size:16px;}.elementor-1360 .elementor-element.elementor-element-022737d .eael-adv-accordion .eael-accordion-list .eael-accordion-header svg.fa-toggle{height:16px;width:16px;line-height:16px;fill:#444;}.elementor-1360 .elementor-element.elementor-element-022737d .eael-adv-accordion .eael-accordion-list .eael-accordion-header .fa-toggle{color:#444;}.elementor-1360 .elementor-element.elementor-element-022737d .eael-adv-accordion .eael-accordion-list .eael-accordion-header .fa-toggle svg{color:#444;fill:#444;}.elementor-1360 .elementor-element.elementor-element-022737d .eael-adv-accordion .eael-accordion-list .eael-accordion-header.active .fa-toggle{color:#fff;}.elementor-1360 .elementor-element.elementor-element-022737d .eael-adv-accordion .eael-accordion-list .eael-accordion-header.active .fa-toggle svg{color:#fff;fill:#fff;}.elementor-1360 .elementor-element.elementor-element-022737d .eael-adv-accordion .eael-accordion-list .eael-accordion-header.active svg.fa-toggle{fill:#fff;}@media(max-width:1440px){.elementor-1360 .elementor-element.elementor-element-13bc547e .elementor-heading-title{font-size:38px;}}@media(max-width:1024px) and (min-width:768px){.elementor-1360 .elementor-element.elementor-element-79566651{width:100%;}}@media(max-width:1024px){.elementor-1360 .elementor-element.elementor-element-79566651 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-1360 .elementor-element.elementor-element-022737d .eael-adv-accordion .eael-accordion-list .eael-accordion-header .eael-accordion-tab-title{line-height:1.3em;}}@media(max-width:767px){.elementor-1360 .elementor-element.elementor-element-660e5a39 > .elementor-container{min-height:100vw;}.elementor-1360 .elementor-element.elementor-element-660e5a39:not(.elementor-motion-effects-element-type-background), .elementor-1360 .elementor-element.elementor-element-660e5a39 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("../../2023/10/faq-rcis-banner-414x414-1.jpg");}.elementor-1360 .elementor-element.elementor-element-514fc9fa{font-size:15px;}.elementor-1360 .elementor-element.elementor-element-13bc547e .elementor-heading-title{font-size:28px;}.elementor-1360 .elementor-element.elementor-element-022737d .eael-adv-accordion .eael-accordion-list .eael-accordion-header .eael-accordion-tab-title{font-size:20px;}}/* Start custom CSS for heading, class: .elementor-element-13bc547e */.elementor-1360 .elementor-element.elementor-element-13bc547e b {
    font-weight: 800;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Azosans';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url('../../2023/09/AzoSans-Black.woff2') format('woff2'),
		url('../../2023/09/AzoSans-Black.woff') format('woff'),
		url('../../2023/09/AzoSans-Black.ttf') format('truetype');
}
@font-face {
	font-family: 'Azosans';
	font-style: italic;
	font-weight: 900;
	font-display: auto;
	src: url('../../2023/09/AzoSans-BlackItalic.woff2') format('woff2'),
		url('../../2023/09/AzoSans-BlackItalic.woff') format('woff'),
		url('../../2023/09/AzoSans-BlackItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Azosans';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('../../2023/09/AzoSans-Bold.woff2') format('woff2'),
		url('../../2023/09/AzoSans-Bold.woff') format('woff'),
		url('../../2023/09/AzoSans-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Azosans';
	font-style: italic;
	font-weight: bold;
	font-display: auto;
	src: url('../../2023/09/AzoSans-BoldItalic.woff2') format('woff2'),
		url('../../2023/09/AzoSans-BoldItalic.woff') format('woff'),
		url('../../2023/09/AzoSans-BoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Azosans';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('../../2023/09/AzoSans-Italic.woff2') format('woff2'),
		url('../../2023/09/AzoSans-Italic.woff') format('woff'),
		url('../../2023/09/AzoSans-Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Azosans';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('../../2023/09/AzoSans-Light.woff2') format('woff2'),
		url('../../2023/09/AzoSans-Light.woff') format('woff'),
		url('../../2023/09/AzoSans-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Azosans';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: url('../../2023/09/AzoSans-LightItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Azosans';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('../../2023/09/AzoSans-Medium.woff') format('woff'),
		url('../../2023/09/AzoSans-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Azosans';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2023/09/AzoSans-Regular.woff2') format('woff2'),
		url('../../2023/09/AzoSans-Regular.woff') format('woff'),
		url('../../2023/09/AzoSans-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Azosans';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('../../2023/09/AzoSans-Thin.woff') format('woff');
}
@font-face {
	font-family: 'Azosans';
	font-style: italic;
	font-weight: 100;
	font-display: auto;
	src: url('../../2023/09/AzoSans-ThinItalic.woff') format('woff');
}
/* End Custom Fonts CSS */