.elementor-kit-7{--e-global-color-primary:#070A6E;--e-global-color-secondary:#FF0000;--e-global-color-text:#070A6E;--e-global-color-accent:#0008B3;--e-global-color-93ef499:#FFFFFF;--e-global-color-834bded:#000000;--e-global-color-93b5b12:#FFEFEF;--e-global-color-70406a1:#29235C;--e-global-typography-primary-font-family:"Azosans";--e-global-typography-primary-font-weight:600;--e-global-typography-secondary-font-family:"Azosans";--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"Azosans";--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"Azosans";--e-global-typography-accent-font-weight:500;font-family:"Azosans", Sans-serif;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1366px;}.e-con{--container-max-width:1366px;}.elementor-widget:not(:last-child){margin-block-end:0px;}.elementor-element{--widgets-spacing:0px 0px;}{}h1.entry-title{display:var(--page-title-display);}.elementor-kit-7 e-page-transition{background-color:#FFBC7D;}.site-header{padding-inline-end:0px;padding-inline-start:0px;}@media(max-width:1280px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-con{--container-max-width:1024px;}}@media(max-width:767px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-con{--container-max-width:767px;}}/* Start Custom Fonts CSS */@font-face {
	font-family: 'Azosans';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url('../../2023/09/AzoSans-Black.woff2') format('woff2'),
		url('../../2023/09/AzoSans-Black.woff') format('woff'),
		url('../../2023/09/AzoSans-Black.ttf') format('truetype');
}
@font-face {
	font-family: 'Azosans';
	font-style: italic;
	font-weight: 900;
	font-display: auto;
	src: url('../../2023/09/AzoSans-BlackItalic.woff2') format('woff2'),
		url('../../2023/09/AzoSans-BlackItalic.woff') format('woff'),
		url('../../2023/09/AzoSans-BlackItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Azosans';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('../../2023/09/AzoSans-Bold.woff2') format('woff2'),
		url('../../2023/09/AzoSans-Bold.woff') format('woff'),
		url('../../2023/09/AzoSans-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Azosans';
	font-style: italic;
	font-weight: bold;
	font-display: auto;
	src: url('../../2023/09/AzoSans-BoldItalic.woff2') format('woff2'),
		url('../../2023/09/AzoSans-BoldItalic.woff') format('woff'),
		url('../../2023/09/AzoSans-BoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Azosans';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('../../2023/09/AzoSans-Italic.woff2') format('woff2'),
		url('../../2023/09/AzoSans-Italic.woff') format('woff'),
		url('../../2023/09/AzoSans-Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Azosans';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('../../2023/09/AzoSans-Light.woff2') format('woff2'),
		url('../../2023/09/AzoSans-Light.woff') format('woff'),
		url('../../2023/09/AzoSans-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Azosans';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: url('../../2023/09/AzoSans-LightItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Azosans';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('../../2023/09/AzoSans-Medium.woff') format('woff'),
		url('../../2023/09/AzoSans-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Azosans';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2023/09/AzoSans-Regular.woff2') format('woff2'),
		url('../../2023/09/AzoSans-Regular.woff') format('woff'),
		url('../../2023/09/AzoSans-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Azosans';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('../../2023/09/AzoSans-Thin.woff') format('woff');
}
@font-face {
	font-family: 'Azosans';
	font-style: italic;
	font-weight: 100;
	font-display: auto;
	src: url('../../2023/09/AzoSans-ThinItalic.woff') format('woff');
}
/* End Custom Fonts CSS */